.content {
  width: 100%;
  padding-top: 4rem;
}

.text {
  &-default {
    color: #e42dfd;
  }
}

.card {
  &-sc-btn {
    margin: 1rem 0.5rem;
    border: 1px solid #d7d7d7;
    padding: 0.5rem;
  }

  &-overview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.actions {
  display: flex;
  justify-content: center;
}
